/* footer.css */
/*.site-footer{
    background-color: #333333;
    color: #ffffff;
}

.footer-content{
    max-width: 1360px;
    margin: 0 auto;
    padding: 40px;
    display: flex;
}

.footer-right{
    display: flex;
    flex-direction: column;
    gap: 3.125rem;
}

.footer-nav .footer-menu{
   display: flex;   
}*/

.site-footer {
  background-color: #333333;
  color: #ffffff;
}

.footer-content {
  max-width: 1360px;
  margin: 0 auto;
  padding: 2.5rem;
  display: flex;
  justify-content: space-between; /* espaça os blocos lateralmente */
  align-items: flex-start;        /* alinha ao topo */
  flex-wrap: wrap;                /* evita quebrar no desktop menor */
  gap: 2.5rem;                      /* espaço entre blocos */
}

.footer-right {
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
  flex: 1; /* ocupa uma parte proporcional */
  min-width: 15.625rem;
}

.footer-nav {
  display: flex;
  flex: 2; /* ocupa mais espaço */
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.25rem;
}

.footer-menu {
  list-style: none;
  padding: 0;

}

.footer-menu li strong {
  display: block;
  margin-bottom: 1.5625rem;
  
}

.footer-menu li {
  margin-bottom: 0.5rem;
}

.footer-nav strong{
    color: #ededed;
    font-weight: 400;
    font-size: 1.25rem;

}
.footer-nav li a{
    color: #ffffff;
}

.footer-nav li a:hover{
    text-decoration: underline;
}

.newsletter-form {
    display: flex;
    flex-direction: column;
}

.newsletter-form input
{
    border-radius: 1.875rem;
    color: #aaaaaa;
    padding: 0.75rem 1.25rem;
    width: 21.5rem;
}

.footer-social span{
    margin-bottom: 1rem;
    display: block;
}

.footer-social ul{
    display: flex;
    gap: 1.25rem;


}

.footer-social li a:hover img{
    opacity: 0.7;
}

.footer-copy{
    font-size: 1.25rem;
    text-align: center;
    padding: 1.25rem 0;
}